html
    head
        title Tambah Game 
    body
        form(action="/game" method="post")
            label Name
                input(type="text" name="name")
                br
            label Date Release
                input(type="text" name="date_release")
                br
            label Developer
                input(type="text" name="developer")
                br
            label Game Type
                input(type="text" name="game_type")
                br
            input(type="submit" value="simpan")